# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# wandb experiment tracking folder
wandb/

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
.pixi/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS and Linux system files
.DS_Store
Thumbs.db

# Logs and debugging
*.log

# Python packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy, coverage, etc.
.mypy_cache/
.coverage
htmlcov/
.cache/

notes/
copy.md
runs/
logs/
